<div class="container">
  <div class="row">
    <button [disabled]="!hasSantas()" class="btn mx-auto btn-primary btn-lg" (click)="match()">Pick Secret Santas</button>
    <button [disabled]="!hasMatched()" class="btn mx-auto btn-primary btn-lg " (click)="notify()">Notify Everyone</button>
  </div>
  <div class="row">
    <ul class="list-group mx-auto santaListWidth">
      <li class="list-group-item card cardWidth" *ngFor="let santa of santas">
        <h5 class="card-title">{{santa.name}}</h5>
        <p class="card-text">{{santa.phoneNumber}}</p>
        <p class="card-text">{{santa.email}}</p>
        <p class="card-text">{{santa.matchedName}}</p>
      </li>
    </ul>
  </div>
</div>
