<div class="row">
  <div id="santaList" class="col-9">
    <div class="list-group-item card" *ngFor="let santa of santas">
      <h5 class="card-title">{{santa.name}}</h5>
      <p class="card-text">{{santa.phoneNumber}}</p>
      <p class="card-text">{{santa.email}}</p>
      <p class="card-text">{{santa.matchedName}}</p>
    </div>
  </div>
  <div id="santaControlButtons" class="col-2 flex-column">
      <button [disabled]="!hasSantas()" class="top5 btn mx-auto btn-primary btn-lg col-12" (click)="match()">Pick Secret Santas</button>
      <button [disabled]="!hasMatched()" class="top5 btn mx-auto btn-primary btn-lg col-12" (click)="notify()">Notify Everyone</button>
      <button [disabled]="!hasSantas()" class="top5 btn mx-auto btn-primary btn-lg col-12" (click)="clear()">Clear All</button>
  </div>
</div>