<form #santaForm="ngForm" (ngSubmit)="registerSanta(santaForm)">
  <div class="row">
    <div class="col">
      <label>Name</label>
      <input name="name" [(ngModel)]="name" class="form-control form-control-lg" type="text" />
    </div>
    <div class="col">
      <label>Phone Number</label>
      <input name="phoneNumber" [(ngModel)]="phoneNumber" class="form-control form-control-lg" type="text" />
    </div>
    <div class="col">
      <label>Email</label>
      <input name="email" [(ngModel)]="email" class="form-control form-control-lg" type="text" />
    </div>
    <div class="col">
      <button class="btn"></button>
    </div>
  </div>
</form>
